.container {
    margin: auto;
    display: grid;
    grid-template-rows: minmax(50px, min-content);
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(220px, max-content);
    grid-gap: 0;
    grid-template-areas: "head"
                         "body"
                         "foot";
    max-width: 944px;
    width: 100%;
    padding: 10px 8px;
    height: max-content;
    align-items: center;

    .slogan {
        grid-area: body;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}